*log
*.o
*.lib
*.la
*.a
*.so
*~
.libs/
.svn/
.deps/
*.lo
Makefile.in
Makefile
bin

# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# End of https://www.toptal.com/developers/gitignore/api/eclipse

adc_dma_test_sw/.gitignore
adc_dma_test_sw/Debug
adc_dma_test_sw/Release
adc_dma_test_sw_system/Debug
adc_dma_test_sw_system/Release
adc_dma_test_sw_system/.gitignore
.analytics
scripts/*
!scripts/*.c
scripts/csv/*
!scripts/csv
!scripts/csv/*.c
!scripts/tar_serial_control
scripts/tar_serial_control/*raw*
scripts/tar_serial_control/*.csv
scripts/tar_serial_control/170425-prueba completa/
